---
import Container from "@components/container.astro";
import Faq from "@components/faq.astro";
import Features from "@components/features.astro";
import Others from "@components/others.astro";
import Hero from "@components/hero.astro";
import Newsletter from "@components/newsletter.astro";
import Testimonials from "@components/testimonials.astro";

import Layout from "@layouts/Layout.astro";
import { changeLanguage } from "i18next";
import { t, changeLanguage } from "i18next";
changeLanguage("en");
---


<Layout>
	<main id="main-content">

		<Hero />
		<Features />
		<Others />
		<Testimonials />
		<Newsletter />
		<Faq />

    	</main>
</Layout>
